<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Create New Recipe</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="issues">
      <ng-container matColumnDef="Recipe">
        <th mat-header-cell *matHeaderCellDef>Recipe</th>
        <td mat-cell *matCellDef="let element"> {{element.recipe}} </td>
      </ng-container>

      <ng-container matColumnDef="content">
        <th mat-header-cell *matHeaderCellDef>Content</th>
        <td mat-cell *matCellDef="let element"> {{element.content}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="editIssue(element._id)">Edit Recipe</button>
          <button mat-button color="warn" (click)="deleteIssue(element._id)">Delete Recipe</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>



    </table>
  </mat-card>
</div>
